[submodule "miles_web_components"]
	path = miles_web_components
	url = https://github.com/miles-no/miles_web_components
	branch = main
[submodule "miles-wp-theme"]
	path = miles-wp-theme
	url = https://github.com/miles-no/miles-wp-theme
	branch = main
[submodule "miles-wp-web-components-plugin"]
	path = miles-wp-web-components-plugin
	url = https://github.com/miles-no/miles-wp-web-components-plugin
	branch = main
[submodule "miles_limes"]
	path = miles_limes
	url = https://github.com/miles-no/miles_limes
	branch = main
